@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Lato;
  list-style: none;
}

html,
body {
  width: 100%;
  height: 100%;
  background-color: #3a3939;
}



.mc {
  height: 70px;
  width: 100vw;
  border-bottom: 1px solid rgba(255, 255, 255, 0.548);
  display: flex;
  align-items: center;
  justify-content: space-between;
  
}

#logo {
  width: 65px;
}

.menu {
  font-size: 25px;
  color: white;
  margin-left: 20px;
}

.login-i {
  color: white;
  font-size: 25px;
  margin-right: 20px;
}

.navbar-slider {
  height: 200px;
  width: 100vw;
  background-color:#a8741a3d;
  text-align: center;
  backdrop-filter: blur(10px);
  transition: all .3s linear;
  opacity: 0;
  position: absolute;
  top: 70px;
  z-index: 1111;
}

#menu li a {
  text-decoration: none;
  font-size: 18px;
  color: white;
  text-transform: capitalize;
  word-spacing: 2px;

}

#menu li{
  padding-top: 15px;
  font-family:lato ;
}

.navbar-slider a:hover{
  border-bottom: 1px solid gold;
}


/* slider code with image and text */

.container {
  display: flex;
  align-items: center;
  width: 100%;
  height: 400px;

}

.frame {
  width: 100%;
  height: auto;
  overflow: hidden;
  position: absolute;
  top: 70px;
}

.slider {
  display: flex;
  transition: all 1s ease;
  border-bottom: 4px solid rgba(0, 0, 0, 0.712);
}

.image {
  width: 100%;
  object-fit: contain;
}

.arow {
  color: white;
  font-size: 1.5em;
  cursor: pointer;
  position: absolute;
  border: 1px solid rgba(29, 28, 28, 0.151);
  padding: 10px;
  border-radius: 50%;
  background-color: red;
  /* border-radius: 10px; */

}

.left {
  position: absolute;
  left: 50px;
  z-index: 1;
  top: 280px;

}

.right {
  right: 50px;
  position: absolute;
  top: 280px;
}


/* user icon */

.user-icon i {
  position: relative;
  top: -80px;
  color: white;
  right: -450px;
  cursor: pointer;
}

.text-1 {
  position: absolute;
  color: white;
}

.text-2 {
  position: absolute;
  color: white;
}

.text-3 {
  position: absolute;
  color: white;
}


/* now creating image slider images movie information */

.info {
  height: 300px;
  width: 400px;
  position: absolute;
  top: 150px;
  left: 170px;
  z-index: 9;
  transition: all 1s;
}

#info {
  color: white;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.info button {
  padding: 10px 15px;
  width: 120px;
  background-color: black;
  color: white;
  margin-left: 10px;
  border: none;
  border-radius: 20px;
  margin: 0 0 0 5px;
}

#watch {
  background: red;
}

.info2 {
  height: 300px;
  width: 400px;
  position: absolute;
  top: 150px;
  left: 170px;
  z-index: 9;
  transition: all 1s;
  opacity: 0;

}

.info2 button {
  padding: 10px 15px;
  width: 120px;
  background-color: black;
  color: white;
  margin-left: 10px;
  border: none;
  border-radius: 20px;
  margin: 0 0 0 5px;
  cursor: pointer;
}

.info3 {
  height: 300px;
  width: 400px;
  position: absolute;
  top: 150px;
  left: 170px;
  z-index: 9;
  transition: all 1s;
  opacity: 0;

}

.info3 button {
  padding: 10px 15px;
  width: 120px;
  background-color: black;
  color: white;
  margin-left: 10px;
  border: none;
  border-radius: 20px;
  margin: 0 0 0 5px;
  z-index: 999;
}

.info4 {
  height: 300px;
  width: 400px;
  position: absolute;
  top: 150px;
  left: 170px;
  z-index: 999;
  transition: all 1s;
  opacity: 0;
}

.info4 button {
  padding: 10px 15px;
  width: 120px;
  background-color: black;
  color: white;
  margin-left: 10px;
  border: none;
  border-radius: 20px;
  margin: 0 0 0 5px;
}

/* this is a image box */

.box{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  overflow: hidden;
  margin-top: 60px;
}
 
.box-image{
  border-radius: 5px;
  -webkit-filter: brightness(60%);
          filter: brightness(60%);
         
}



.box-1{
  overflow: hidden;
  border-radius: 5px; 
  
}

.box-text::before{
  content: "";
  width: 100%;
  height: 100%;
  background-color: #a8741a3d;
  position: absolute;
  scale: 1.3;
}



.box-2{
  overflow: hidden;
  border-radius: 5px;
}

.box-3{
  overflow: hidden;
  border-radius: 5px;
}



.box-text{
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  top: -155px;
  margin-top: -88px;
  line-height: 1.5rem;
  /* background-color: rgba(0,0,0,0.5); */
  width: 100%;
  height: 100%;
  padding-left: 20px;
  opacity: 0;
  -webkit-transform: translate(-20px);
      -ms-transform: translate(-20px);
          transform: translate(-20px);
  -webkit-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  transition: all 0.4s linear;
}

.box-text:hover{
  -webkit-transform: translate(0);
      -ms-transform: translate(0);
          transform: translate(0);
  opacity: 1;
}

.text1{
  color: white;
  font-size: 14px;
  font-family: 'Courier New', Courier, monospace;
  position: relative;
  top: 120px;
}


.text2{
  color: #a8741a;
  font-size: 24px;
  left: 5px;
  position: relative;
  top: 130px;
}

.text3{
  color: white;
  font-size: 14px;
  font-family: 'Courier New', Courier, monospace;
  position: relative;
  top: 150px;
  
}


