@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

* {
  margin: 0;
  padding: 0;
  font-family: Lato;
}

body {
  background-color: #3a3939;
  overflow-x: hidden;
}

/* this is navabr  */

.navbar-container{
  height: 70px;
  width: 100%;
  border-bottom: 1px solid rgba(255, 255, 255, 0.548);
  display: flex;
  align-items: center;
  justify-content: space-between;
  
}

#logo {
  width: 65px;
  cursor: pointer;
}

.menu {
  font-size: 25px;
  color: white;
  cursor: pointer;
  margin-left: 20px;
}

.login-i {
  color: white;
  font-size: 25px;
  margin-right: 20px;
}

.navbar-slider {
  height: 200px;
  width: 100%;
  background-color:#a8741a3d;
  text-align: center;
  backdrop-filter: blur(10px);
  transition: all .3s linear;
  opacity: 0;
  position: absolute;
  top:70px;
  z-index: 12;
}

#menu li a {
  text-decoration: none;
  font-size: 18px;
  color: white;
  text-transform: capitalize;
  word-spacing: 2px;
}

#menu li{
  padding-top: 15px;
  font-family:lato ;
}

.navbar-slider a:hover{
  border-bottom: 1px solid gold;
}


/* image  slider code with info  text */
.slider-container {
  height: 400px;
  width: 400%;
}

.con2 {
  height: 100%;
  width: 100%;
  background: blue;
  display: flex;
  transition: all 0.5s linear;
  align-items: center;
}


.a {
  background: url(main-slider-images/1.jpg);
}

.b {
  background: url(main-slider-images/2.jpg); 
}

.c {
  background: url(main-slider-images/3.jpg);
}

.d {
  background: url(main-slider-images/4.webp);
}

.box {
  height: 100%;
  width: 100%;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}


.arrow-icons{
  height:50px;
  width:100%;
  position: absolute;
  top:250px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}


.arow{
  height:40px;
  width: 40px;
  background-color: white;
  border-radius: 50%;
  color:  #3a3939;
  cursor: pointer;
  margin:0 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}